/*
0-600px:    phone
600-900px   Tablet portrait
900-1200px  Tablet landscape
1200-1800   normal desktop
1800 +      big desktop
*/
/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 2rem;
  box-sizing: border-box; }
  @media (max-width: 62.5em) {
    body {
      font-size: 1.5rem; } }

::selection {
  background-color: #7ed56f;
  color: white; }

body {
  padding: 2rem;
  color: #fff;
  font-family: 'lato',sans-serif;
  line-height: 1.7; }
  @media (max-width: 75em) {
    body {
      padding: 0; } }

.header-primary {
  text-transform: uppercase;
  margin-bottom: 4rem; }
  .header-primary--main {
    display: block;
    letter-spacing: 2.5rem;
    font-size: 6rem;
    font-weight: 700;
    animation: moveInLeft 1s  ease-out; }
    @media (max-width: 62.5em) {
      .header-primary--main {
        letter-spacing: 1.5rem; } }
  .header-primary--sub {
    display: block;
    letter-spacing: 1.8rem;
    font-size: 1.5rem;
    font-weight: 700;
    animation: moveInRight 1s  ease-out; }
    @media (max-width: 62.5em) {
      .header-primary--sub {
        letter-spacing: 0.8rem; } }

.header-secondary {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25rem;
  transition: all 0.2s; }
  @media (max-width: 62.5em) {
    .header-secondary {
      font-size: 3rem; } }
  .header-secondary:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 20px;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 1px;
  word-spacing: 1px; }
  @media (max-width: 43.75em) {
    .heading-tertiary {
      font-size: 2rem; } }

.paragraph {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
  font-weight: 300; }
  @media (max-width: 43.75em) {
    .paragraph {
      font-size: 1.8rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.text-center {
  text-align: center; }

.margin-bottom-small {
  margin-bottom: 1.5rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-large {
  margin-bottom: 8rem; }
  @media (max-width: 62.5em) {
    .margin-bottom-large {
      margin-bottom: 3rem !important; } }

.margin-bottom-top {
  margin-top: 8rem; }
  @media (max-width: 62.5em) {
    .margin-bottom-top {
      margin-top: 2rem; } }

.margin-top-small {
  margin-top: 2rem; }
  @media (max-width: 62.5em) {
    .margin-top-small {
      margin-top: 0; } }

.padding-top-medium {
  padding-top: 8rem; }
  @media (max-width: 43.75em) {
    .padding-top-medium {
      padding-top: 4rem; } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white:hover::after {
    background-color: #fff;
    opacity: 0; }

.btn--green {
  background-color: #7ed56f;
  color: #fff; }
  .btn--green:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    background-color: #7ed56f;
    opacity: 0; }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: bottom 0.5s ease-out 1s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  display: inline-block;
  padding: 3px;
  color: #28b485;
  background-color: white;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    border-radius: 0.5rem;
    position: absolute;
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    @media (max-width: 62.5em) {
      .composition__photo {
        width: 40%; } }
    .composition__photo--1 {
      left: 0px;
      top: -2rem; }
      @media (max-width: 62.5em) {
        .composition__photo--1 {
          top: 2rem;
          left: -2%; } }
    .composition__photo--2 {
      right: 10%;
      top: 2rem; }
      @media (max-width: 62.5em) {
        .composition__photo--2 {
          right: -2%; } }
    .composition__photo--3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 62.5em) {
        .composition__photo--3 {
          top: 0;
          left: 30%; } }
    .composition__photo:hover {
      outline: 1rem solid #7ed56f;
      z-index: 20;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0.8rem 1.5rem 2rem rgba(0, 0, 0, 0.2); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  transition: all 0.2s;
  height: 32rem; }
  @media (max-width: 62.5em) {
    .feature-box {
      width: 50rem;
      margin: auto; } }
  @media (max-width: 43.75em) {
    .feature-box {
      width: 30rem; } }
  .feature-box-icon {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4rem; }
  .feature-box-text {
    font-size: 20px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    line-height: 2.5rem; }
  .feature-box:hover {
    transform: translateY(-2rem); }

.card {
  position: relative;
  height: 47rem; }
  @media (max-width: 62.5em) {
    .card {
      width: 40rem;
      margin: auto; } }
  .card__side {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 47rem;
    transition: all 0.8s ease;
    perspective: 150rem;
    -webkit-perspective: 150rem;
    border-radius: 3px;
    overflow: hidden; }
    @media (max-width: 62.5em) {
      .card__side {
        height: 50rem !important; } }
    .card__side--front {
      background-color: #fff;
      box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.1); }
    .card__side--back {
      transform: rotateY(180deg);
      box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.1); }
      .card__side--back-1 {
        background-image: linear-gradient(to right, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 23rem;
    background-blend-mode: screen;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture-1 {
      background-image: linear-gradient(to right, #ffb900, #ff7730), url(../../img/nat-5.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right, #7ed56f, #28b485), url(../../img/nat-6.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right, #2998ff, #5643fa), url(../../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    position: absolute;
    left: 12rem;
    top: 13rem;
    text-align: right;
    padding: 0 2rem; }
  .card__heading--span {
    padding: 0.6rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading--span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading--span-2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading--span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 20px;
    font-weight: 350;
    letter-spacing: 0.8px; }
    .card__details ul {
      list-style: none; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee;
        margin-bottom: 1rem; }
  .card__cta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 2rem; }
  .card__price-value {
    font-weight: 100;
    font-size: 6rem; }

.story {
  padding: 5rem 8rem;
  width: 85%;
  margin: 3rem auto;
  transform: skewX(-20deg);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); }
  @media (max-width: 43.75em) {
    .story {
      transform: skewX(0deg);
      padding: 3rem 5rem;
      margin: 0 auto; } }
  .story > * {
    transform: skewX(20deg) translateX(10px); }
    @media (max-width: 43.75em) {
      .story > * {
        transform: skewX(0) translate(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    transition: all .4s; }
  .story__shape {
    backface-visibility: hidden;
    width: 13rem;
    height: 13rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(20deg);
    position: relative; }
    @media (max-width: 43.75em) {
      .story__shape {
        transform: translateX(-2rem) skewX(0deg); } }
  .story__caption {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    font-size: 2.4rem;
    text-transform: capitalize;
    transform: translateX(-50%);
    transition: all .5s;
    opacity: 0; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translate(-3rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  left: 0;
  top: -5%;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.15; }
  .bg-video__content {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }
  @media (max-width: 43.75em) {
    .form__group:not(:last-child) {
      margin-bottom: 0; } }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  display: block;
  width: 90%;
  color: rgba(0, 0, 0, 0.8);
  font-family: inherit;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.4s; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #7ed56f; }
    .form__input:focus:invalid {
      border-bottom: 2px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999999; }

.form__label {
  font-size: small;
  color: #777;
  margin-left: 2rem;
  display: block;
  transition: all .4s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(-3.5rem); }

.form__radio-group {
  display: inline-block; }
  .form__radio-group:not(:last-child) {
    margin-right: 3rem; }

.form__radio-input {
  display: none; }

.form__radio-buttom {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 5px solid #7ed56f;
  display: inline-block;
  position: absolute;
  left: 0rem;
  top: 0; }
  .form__radio-buttom::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%; }

.form__radio-label {
  position: relative;
  padding-left: 4rem;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer; }

.form__radio-input:checked ~ .form__radio-label .form__radio-buttom::after {
  background-color: #7ed56f; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8)), url("../img/hero-small.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-position: top;
  position: relative; }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8)), url("../img/hero.jpg"); } }
  @media (max-width: 62.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3rem; }
  .header__test-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  color: black; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  .row [class^='col-'] {
    float: left; }
    @media (max-width: 62.5em) {
      .row [class^='col-'] {
        display: block;
        float: none;
        width: 100% !important; } }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 62.5em) {
      .row [class^='col-'] {
        margin-bottom: 3rem;
        padding: 2rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 *(100% - 2 *6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) / 4); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.5rem; }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    margin-bottom: 5rem;
    width: 150px; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none;
    display: inline-block;
    width: 100%;
    height: auto; }
  .footer__item {
    font-size: inherit;
    display: inline-block;
    transition: all 0.2s; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
    .footer__item:hover, .footer__item:active {
      transform: rotate(15deg) scale(1.4);
      box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.2); }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #f7f7f7;
    text-transform: uppercase;
    height: 100%;
    width: 100%; }
  .footer__link:hover {
    color: #7ed56f; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }

.navigation {
  position: absolute; }
  .navigation__checkbox {
    display: none; }
  .navigation__buttom {
    background: #fff;
    border-radius: 50%;
    height: 6.5rem;
    width: 6.5rem;
    position: fixed;
    right: 4rem;
    top: 4rem;
    z-index: 2000;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center; }
    @media (max-width: 62.5em) {
      .navigation__buttom {
        height: 6rem;
        width: 6rem;
        top: 5rem;
        right: 5rem; } }
    @media (max-width: 43.75em) {
      .navigation__buttom {
        top: 3rem;
        right: 3rem; } }
  .navigation__background {
    height: 5.5rem;
    width: 5.5rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    position: fixed;
    right: 4.25rem;
    top: 4.25rem;
    display: inline-block;
    border-radius: 50%;
    z-index: 1000;
    transition: all 0.8s; }
    @media (max-width: 62.5em) {
      .navigation__background {
        right: 5.25rem;
        top: 5.25rem;
        height: 5.5rem;
        width: 5.5rem; } }
    @media (max-width: 43.75em) {
      .navigation__background {
        height: 4.5rem;
        width: 4.5rem;
        top: 4rem;
        right: 4rem; } }
  .navigation__nav {
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1500;
    transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    width: 0%;
    opacity: 0; }
  .navigation__list {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin-bottom: .3rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    transition: all 0.4s;
    background-size: 230%; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #7ed56f;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(70); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    top: 1rem; }
    .navigation__icon, .navigation__icon::after, .navigation__icon::before {
      display: inline-block;
      width: 4rem;
      height: 0.3rem;
      background-color: #333;
      transition: all 0.2s; }
    .navigation__icon::after, .navigation__icon::before {
      content: "";
      position: absolute;
      left: 0; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__checkbox:checked + .navigation__buttom .navigation__icon {
    background-color: transparent; }
    .navigation__checkbox:checked + .navigation__buttom .navigation__icon::before {
      transform: rotate(45deg) translate(0.9rem, 0.6rem); }
    .navigation__checkbox:checked + .navigation__buttom .navigation__icon::after {
      transform: rotate(-45deg) translate(0.5rem, -0.4rem); }
  .navigation__buttom:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__buttom:hover .navigation__icon::after {
    top: 1rem; }

.popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(29, 26, 26, 0.699);
  height: 100%;
  width: 100%;
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 75%;
    height: 73%;
    box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.2); }
  .popup__left {
    float: left;
    width: 33.33%; }
  .popup__right {
    width: 66.66%;
    float: left;
    padding: 2rem 3rem; }
  .popup__img {
    width: 100%;
    border-radius: 1px;
    display: block; }
  .popup__text {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 3rem;
    -moz-column-count: 2;
    -moz-column-gap: 1rem;
    -moz-column-rule: 1px solid #777;
    column-count: 2;
    column-gap: 1rem;
    column-rule: 1px solid #777;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 1rem;
    right: 2rem;
    text-decoration: none;
    color: #777;
    font-size: 3rem;
    line-height: 1; }
  .popup__close:hover {
    color: #7ed56f; }

.section-about {
  padding: 14rem 0;
  margin-top: -15vh;
  background-color: #f7f7f7; }
  @media (max-width: 62.5em) {
    .section-about {
      padding: 14em 2rem;
      margin-bottom: 40vh; } }
  @media (max-width: 43.75em) {
    .section-about {
      margin-bottom: 15vh; } }

.section-feature {
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  height: 60rem;
  padding: 15rem 0;
  transform: skewY(-5deg); }
  @media (max-width: 62.5em) {
    .section-feature {
      padding: 10rem 3rem;
      width: 100%;
      height: 100%; } }
  .section-feature > * {
    transform: skewY(5deg); }

.section-tours {
  padding: 18rem 0 10rem 0;
  margin-top: -15vh;
  margin-bottom: 0rem;
  background-color: #f7f7f7; }
  @media (max-width: 62.5em) {
    .section-tours {
      margin-top: 0;
      padding: 9rem 0 7rem 0; } }

.section-story {
  position: relative;
  width: 100%;
  height: 93rem; }

.section-book {
  height: 60rem;
  width: 100%;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 7.5rem 15rem; }
  @media (max-width: 62.5em) {
    .section-book {
      padding: 7.5rem 4rem; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85), 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: cover;
  height: 45rem;
  border-radius: 3rem; }
  @media (max-width: 62.5em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85), 70%, transparent 70%), url(../../img/nat-10.jpg); } }
  @media (max-width: 43.75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85), 100%, transparent 100%), url(../../img/nat-10.jpg); } }
  .book__form {
    width: 50%;
    height: 100%;
    padding: 4rem; }
    @media (max-width: 62.5em) {
      .book__form {
        width: 75%; } }
    @media (max-width: 43.75em) {
      .book__form {
        width: 100%; } }
