.footer{
    background-color:$color-grey-dark-3;
    padding:10rem 0;
    font-size:1.5rem;

    &__logo-box{
        text-align:center;
    }

    &__logo{
        margin-bottom:5rem;
        width:150px;


    }

    &__navigation{
        border-top:1px solid $color-grey-dark;
        padding-top:2rem;
        display:inline-block;
    }

 
    &__list{
        list-style: none;
        display:inline-block;
        width:100%;
        height:auto;
    }

    &__item{
        font-size:inherit;
        display:inline-block;
        transition:all 0.2s;

        &:not(:last-child){
            margin-right:2rem;
        }

        &:hover,
        &:active
        {
            transform: rotate(15deg) scale(1.4);
            box-shadow:1rem 2rem 2rem rgba($color-black,0.2);
        }

    }
    
    &__link{
    
        &:link,
        &:visited{
            text-decoration:none;
            color: $color-grey-light-1;
            text-transform:uppercase;
            height:100%;
            width:100%;
        }

        &:hover{
            color:$color-primary;
        }
        
    }

    &__copyright{
        border-top:1px solid $color-grey-dark;
        padding-top:2rem;
        display:inline-block;
    }

  
}