
.header{
    height:95vh;
    background-image:linear-gradient(to right bottom,
    rgba($color-secondary, 0.8), rgba($color-primary, 0.8)),
    url('../img/hero-small.jpg');
    background-size: cover;
    -webkit-clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);   
    background-position: top;
    position: relative;

    @media (min-resolution:192dpi) and (min-width:37.5em) , (min-width:2000px) {
        background-image:linear-gradient(to right bottom,
        rgba($color-secondary, 0.8), rgba($color-primary, 0.8)),
        url('../img/hero.jpg');
    }

    @include respond(tab-port){
        -webkit-clip-path: polygon(0 0,100% 0,100% 85vh,0 100%);
        clip-path: polygon(0 0,100% 0,100% 85vh,0 100%);   
    }


    &__logo-box{
        position: absolute;
        top:4rem;
        left:4rem;
    }

    &__logo{
        height:3rem;
    }

    &__test-box{
        position:absolute;
        top:40%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align: center;
    }
}  