$color-primary:#7ed56f;
$color-secondary:#28b485;
$color-white:#fff;
$color-white-dark:rgba(247, 236, 236, 0.979);

$color-blue-light:#2998ff;
$color-blue-dark:#5643fa;

$color-orange-light:#ffb900;
$color-orange-dark:#ff7730;

$color-grey-light-1:#f7f7f7;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-black:#000;

$grid-space:114rem;
$gutter-vertical:3rem;
$gutter-horizontal:6rem;

//font
$font-small:14px;
$default-font:16px;
$font-medium:20px;
$font-large:24px;
